.cocktail-detail-wrapper {
  width: 100%;

  h3 {
    text-align: center;
  }
  
  &__body {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;

    p {
      margin: 5px 0;
    }
  }

  &__ingredient-list {
    padding: 0;
    list-style: none;
  }

  &__thumbnail {
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}